/* Style the buttons that are used to open and close the accordion panel */
.section-acc{
    /* padding-left: 30px; */
    border: none;
    margin-bottom:5%;
    flex-direction: column;
}

/* .acc-box{
    width: 49%;
} */

.section-acc p{
    font-size: .8em;
    line-height: 2;
    text-align: justify;
}

.accordion {
    background-color: #eee;
    color: #2F2E41;

    font-weight: 400;
    font-family: "Epilogue", sans-serif;

    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #15346272;
    font-weight: 700;
    margin: 5px 0;
    color: #f1f1f1;
    /* margin: 1% 0; */
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 10px 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }


 
@media (max-width: 768px) {
    .section-acc{
        padding-left: 0px;
    }

    .acc-box{
      width: 100%;

    }
  } 