.btn {
  max-width: 150px;
  width: 50%;
  height: 40px;
  border: 1px solid #feb139;
  cursor: pointer;
  color: #feb139;
  background-color: white;
  border-radius: 10px;
  font-weight: 700;

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.btn:hover {
  background-color: #f6e7c9;
}

.btn:focus {
  background-color: #feb139;
  color: #fff;
}

/* ---------------------------------------------------------- */

@media (max-width: 1000px) {
  .btn {
    width: 60%;
  }
}
