/* FONT */
.font-100 {
  font-weight: 100;
}

.font-200 {
  font-weight: 200;
}

.font-400 {
  font-weight: 400;
}

.font-700 {
  font-weight: 700;
}

/* ------------- */

/* FONT NAV */
.nav-title {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

/* FONT SECTION */
.content-text h1 {
  font-size: 2.5em;
}

.content-text p {
  font-size: 1em;
  line-height: 1.5;
}

/* FONT BUTTONS*/
.btn {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/* -------------------------------------------------- */

@media (max-width: 1000px) {
  .content-text h1 {
    font-size: 2em;
  }

  .content-text p {
    font-size: 1em;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
    .nav-title {
        font-size: 1rem;
        letter-spacing: 2px;
      }

    .content-text h1 {
      font-size: 2em;
    }
  
    .content-text p {
      font-size: 1em;
      line-height: 1.5;
    }
  }
  