h1{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
}

h2{
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.5;
}

h3{
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.text-help{
    font-size: .6rem;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 5px;
    max-width: 400px;
    background-color: #FEB139;
    text-align: center;
}

.tooltip__text{
    font-size: .6rem;
    line-height: 2;
    padding: 2%;
    border-radius: 5px;
    max-width: 400px;
    text-align: start;

    background-color: #FEB139;

    margin: 2% 0;
    

}

.circle-p{
    font-weight: 400;
    font-size: .8rem;
}

.text-type-radio-start{
    font-size: 0.8rem;
}



@media (max-width: 768px) {
    h2{
        font-size: 1.2rem;
    }
    
    h3{
        font-size: 0.9rem;
    }
    p{
        font-size: .8rem;
    } 
}