/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* FONT */
.font-100 {
  font-weight: 100;
}

.font-200 {
  font-weight: 200;
}

.font-400 {
  font-weight: 400;
}

.font-700 {
  font-weight: 700;
}

/* COLOR */
:root {
  --amarelo: #f6f6c9;
  --verdeClaro: #bad1c2;
  --verdeEscuro: #4fa095;
  --azulMarinho: #153462;
  --laranja: #feb139;
}

/* SITE */

body {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Epilogue", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

nav {
  width: 80%;
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;

  padding: 10px 0;
}

nav div {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 30px;
}

section {
  width: 80%;
  display: flex;
  flex-direction: column;

}

section div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section h1 {
  margin-bottom: 20px;
}

.content-text {
  padding:20px 0 20px 30px;
  border-left: 1px solid black;
  color: #153462;
}

.content-value{
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid black;
  padding: 10px 0;
  margin: 20px;
}

.content-value-text{ 
  font-size: .7em; 
  padding-right: 50px; 
  text-align: center;
}

.content-value-box{
  flex-direction: initial;
  justify-content: space-evenly;
  margin: 20px 0;
}

.value-box{
  width: 75px;
  height: 75px;
  border-radius: 100%;

  /* margin: 0 5px; */
}

.box-1{ background-color: #FEB139; }
.box-2{ background-color: #F6F6C9; }
.box-3{ background-color: #F6F6C9; }
.box-4{ background-color: #F1F1F1; }
.box-5{ background-color: #BAD1C2; }
.box-6{ background-color: #BAD1C2; }
.box-7{ background-color: #4FA095; }

.content-value-box-text{
  /* display: flex; */
  justify-content: space-evenly;
  flex-direction: initial;
  font-size: .6em;
}

/* .check{
  width: 50px;
  height: 50px;

  border:1px solid red;
} */

form{
  width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

a{
  display: flex;
  align-items: center;
  justify-content: center;
}


footer {
  width: 80%;
  height: 50px;
  border-top: 1px solid black;
}


@media (max-width: 768px) {
  body {
    height: 100vh;
    /* align-items: initial; */
    display: block;
  }

  main {
    height: 100%;
  }

  nav div {
    width: 155px;
    }

  section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: none;
    text-align: center;


    margin: 5% 0;
  }
  .content-text{
    width: 100%;
    padding-left: 0;
    align-items: center;
    padding: 0 5%;
  }

  .content-value-text{ 
    font-size: .7em; 
    padding-right: 0px; 
    text-align: center;
  }
  
  .value-box{
    width: 55px;
    height: 55px;
    border-radius: 100%;
  
    /* margin: 0 5px; */
  }

  footer{
    /* height: 20px; */
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .value-box{
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}