main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;

  position: relative;
}

/* container ---------- */

.container {
  width: 80%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;
}

.content__quiz-text {
  padding: 3%;
  border-left: 1px solid black;
  margin: 0 auto;
  text-align: justify;
}
.content__quiz-value {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 2% 0;
}

.content__quiz-value p:first-child {
  margin: 20px 0;
}

.box__circle-question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle-color-1 {
  background-color: #feb139;
}
.circle-color-2 {
  background-color: #f6f6c9;
}
.circle-color-3 {
  background-color: #f6f6c9;
}
.circle-color-4 {
  background-color: #f1f1f1;
}
.circle-color-5 {
  background-color: #bad1c2;
}
.circle-color-6 {
  background-color: #bad1c2;
}
.circle-color-7 {
  background-color: #4fa095;
}

.circle {
  max-width: 75px;
  width: 100%;
  height: 75px;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;


  margin: 5px;
}

.circle p {
  font-size: 0.6rem;
  margin-bottom: 0;
  color: #153462;
  /* font-weight: 300; */
  
}

/* end container ---------- */

.questions_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box__answers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

input{
  /* width: 100px;
  display: block; */
}

dialog{
  position: absolute;
}
/* media ----  */

@media (max-width: 768px) {
  main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    height: 100%;
    justify-content: space-evenly;
  }

  .content__quiz-text{
    border: none;
  }

  .content__quiz-text h1{
    text-align: center;
  }

  .content__quiz-text p{
    text-align: center;
  }
  .circle{
    max-width: 75px;
    width: 100%;
    height: 75px;
  }
}

@media (max-width: 580px) {
  .circle{
    max-width: 55px;
    width: 100%;
    height: 55px;
  }
}


@media (max-width: 406px) {
  .circle{
    max-width: 42px;
    width: 100%;
    height: 42px;
  }
  .circle p{
    font-size: 0.5rem;
  }
}