
.form__box {
  width: 100%;

  text-align: left;
  /* max-width: 960px; */
}


.button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}



#question-2,
#question-3,
#question-4,
#question-5,
#question-6 {
  /* display: none; */
  margin-top: 5%;
  width: 100%;
  justify-content: start;
}

#question-1{

  width: 100%;
  justify-content: start;
}

#progress_bar {
  background-color: #153462;
  width: 0%;
  height: 10px;
  transition: all 100ms ease-in-out;
  margin: 2% 0;
}


.box-question{
  width: 100%;
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-question div{
  max-width: 75px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.question{
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 0;
}

#question-10,#question-20, #question-30, #question-34{
  border-bottom: none;
}

#row-box-1{
  display: block;

}
#row-box-2, #row-box-3, #row-box-4{
  display: none;
}

.box-circle {
  height: 75px;
  border-radius: 100px;
  margin: 5px;
}

@media (max-width: 768px) {
  .question p, h2{
    text-align: center;
  }
  .box-question div{
    max-width: 55px;
    width: 100%;
  }
  .box-circle{
    height: 55px;
  }
}

@media (max-width: 580px) {
  .box-question div{
    max-width: 45px;
    width: 100%;
  }
  .box-circle{
    height: 45px;
  }
}

@media (max-width: 482px) {
  .box-question div{
    max-width: 35px;
    width: 100%;
  }
  .box-circle{
    height: 35px;
  }
}

@media (max-width: 394px) {
  .question p, h2{
    text-align: center;
  }
  .box-question div{
    max-width: 30px;
    width: 100%;
  }
  .box-circle{
    height: 30px;
  }
}