.toast {
  border-radius: 12px;
  display: none;
  background: #e2242442;
  padding: 20px 35px 20px 25px;
  overflow: hidden;
  margin-top: 2%;
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content img{
  width: 40px;
  background-color: #fff;
  border-radius: 50px;
  padding: 1%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #DD2020;
  text-transform: uppercase;
}
